.home {
  /* justify-content: center; */
  text-align: center;
  color: crimson;
}

.home__section {
  display: flex;
  padding: 30px;
  justify-content: center;
}
.home__details {
  display: flex;
  margin-left: 30px;
  justify-content: center;
}
